.navbar {
    background-color: #343a40;
}
.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important;
}
.navbar-nav .dropdown-menu {
    background-color: #343a40 !important;
}
.dropdown-item {
    color: #ffffff !important;
}
.jumbotron {
    background-color: #167c7ab3;
    height : 100vh;
}

body{ 
    /* color :black; */

    font-family: "Madimi One", sans-serif !important;
}